.big-text {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium';


  db {
    color: rgb(22, 12, 73);
}

  m {
      color: rgb(110, 1, 1);
    
}
  

.medium-text {
    font-size: 20px;
    font-family: fantasy;
    font-style: inherit;
}

 p {
  color: maroon;
}


a img {
  border: none;
  cursor: grab; 
  