.big-text {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium';

  }
    db {
    color: rgb(24, 12, 83);
}

  m {
      color: rgb(110, 1, 1);
    
}
  

  b {
        color: rgb(125, 32, 26);
    }
    .warning {
        color: brown;
    }

.medium-text {
    font-size: 20px;
    font-family: fantasy;
    font-style: inherit;
}

 p {
  color: maroon;
}


 
  

#blog-button {
  background-image: url("/images/Redheart.png");
  width: 400px;
  height: auto;
}

#blog-button:hover {
  background-image: url("/images/redstar.png");
}